#followers {
    float: left;
    width: 25%;
}

#profile {
    float: left;
    width: 50%;
}

#profile-card {
    margin-left: 80px;
}

#recent-user-posts {
    float: left;
    width: 25%;
} 

.card {
    width: 400px;
    height: 550px;
}

